#spinner {
  visibility: hidden;
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}

img.icon {
  width: 20px;
  height: 20px;
}

button.icon {
  width: 20px;
  height: 20px;
  padding: 0px;
  box-sizing: content-box;
  vertical-align: top;
}


.chart-container {
  position: relative;
  margin: auto;
  height: 70vh;
  width: 100%;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.0
}

.display-6 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.0
}

html,
body{  
  width: 100%;
  height: 100%;
}


html,
body,
#mapid, 
#map2 {

  padding: 0;
  margin: 0;
}

#mapid, #map2 {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 100%;
}

info {
  padding: 6px 8px;
  font: 16px/18px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: rgb(150, 138, 36);
}

.legend {
  text-align: left;
  line-height: 18px;
  /* color: #555; */
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.table-info {
  table-layout: fixed;
  background-color: transparent;
  width: 160px;
  font: 16px/18px Arial, Helvetica, sans-serif;
  /* min-width: 100px; */
}
.table-info td:nth-child(2){
  
  line-height: 18px;
  color: #f25a41;
}

.tab-content {
  width: 100%;
}